# Ignorar entornos virtuales
venv/
env/
#Archivo pesado: diccionario de word embedding en Ingles
app/input/glove.6B.200d.txt

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración del editor/IDE
.vscode/
.idea/

# Ignorar archivos de logs
*.log

# Ignorar otros archivos innecesarios
*.egg-info
.installed.cfg
*.egg
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/